<div class="columns" style="margin-left: 1%; margin-top:1%;">
  <div class="column is-3">
    <app-side-logo></app-side-logo>
    <div class="column">
      <p class=" has-text-centered title-box-text">
        RESEARCH
      </p>
    </div>
  </div>

  <div class="column is-7 top-content" @inEffect>
    <p>Creativity is our biggest asset and it shines through everything we do. Froot has filed <span style="background-color:#fece2091" >multiple patents</span> and is
      continuously expanding its research portfolio.
      Froot is really turning the page forward on a new chapter in Artificial Intelligence.</p>
  </div>

</div>

<div class="main-content" @inEffect>
  <div class="press columns">
    <div class="column is-5 ">
      <p class="heading ">In real-world environments where target values are unavailable or extensive training is not
        an option, our target-less models give you intelligence from day one through their fuzzy-learning algorithms.
      </p>
      <div class="divider"></div>
      <p class="title"> Target less</p>
    </div>
    <div class="column is-5">
      <p class="heading  ">Self-introspecting models that examine and discover prediction dilemmas, giving you the
        confidence to use AI in mission critical decision making.</p>
      <div class="divider"></div>
      <p class="title"> Intuitive</p>
    </div>


  </div>
  <div class="columns" style="margin-top:2%">
    <div class="column is-5">
      <p class="heading ">
        Inspired by workings of human brain, our neuroscience and psychology-based models are attempting to achieve
        human-like or superior intelligence.</p>
      <div class="divider"></div>
      <p class="title"> Cognitive</p>
    </div>
    <div class="column is-5">
      <p class="heading ">
        Ability to reason about the prediction is hard to achieve in complex intelligence models. And not even all our
        models are interpretable but our key algorithms provide a window into the internals to help understand the
        impact of each underlying feature on the prediction.</p>
      <div class="divider"></div>
      <p class="title">Interpretable </p>
    </div>
  </div>
</div>


<app-navbar-light></app-navbar-light>
