.menu-light{
    /* width: 80px; */
    margin-top: 1rem;
    margin-bottom: 6.5rem;
    text-decoration: none;
    font-size:9.4608px;
    color: #090909;
    display:block;
    letter-spacing: 3.5px;
    text-align: center;
    font-weight: 400;
    font-family: metropolis;
  } 