<div class="nav-bar app-navbar ">
    <div class="nav-menu" >
        <a class="rotate menu-light"  routerLinkActive="active"   routerLink="/Research">RESEARCH</a>
        <a class="rotate menu-light"  routerLinkActive="active"  routerLink="/Products">PRODUCTS</a>
        <a class="rotate menu-light"  routerLinkActive="active"  routerLink="/Traction">TRACTION</a>
        <a class="rotate menu-light" routerLinkActive="active"   routerLink="/Recognition">RECOGNITION</a>
      </div>
      
      
      <div style="padding-left: 40%; padding-top: 50%">
        <a (click)="slideRoute()">
          <img src="../../assets/navigator.png" width="15" height="10">
        </a>
      </div>
</div>

