<div class="columns" style="margin-left: 1%; margin-top:1%;">
  <div class="column is-3">
    <app-side-logo></app-side-logo>
    <div class="column">
      <p class=" has-text-centered title-box-text">
        RECOGNITION
      </p>
    </div>
  </div>

  <div class="column is-7 top-content" @inEffect>
    <p>This is just the beginning; keep an eye on us for we are the next big thing</p>
  </div>

</div>

<div class="main-content" @inEffect>
  <div class="press columns">
    <div class="column is-3 ">
      <p class="title ">"AI Startup of the year 2018"</p>
      <div class="divider"></div>
      <p class="heading"> -Business Connect</p>
    </div>
    <div class="column is-3">
      <p class="title  ">"National Entrepreneurship Award2018"</p>
      <div class="divider"></div>
      <p class="heading"> -Ministry of Skills and Development <span style="font-size:0.6rem;color:#616060">(nomination)</span></p>
    </div>

    <div class="column is-3">
      <p class="title ">
        "India 500 most promising IT company"</p>
      <div class="divider"></div>
      <p class="heading"> -India 5000 <span style="font-size:0.6rem;color:#616060">(nomination)</span></p>
    </div>
  </div>
</div>


<app-navbar-light></app-navbar-light>
