
p{
    
    font-family: metropolis;
    letter-spacing: 8px;
    /* font-weight: 300;    */
    /* margin-bottom: -5px; */
    color: white;
    line-height: 13px;
}

.sub-logo-title{
    font-family: metropolis;
    letter-spacing: 1px;
    color: white;
    line-height: 16px; 
    font-size: 0.9rem;   
}
.logo-box{
    margin-left: 2%;
    margin-top: 10px;
}
.logo-box>a> img {
    max-width: 2.5vw;
  }


  @media screen and (max-width: 600px) {
    
    .logo-box>a >img {
     max-width: 7vw;
    }

    
}