<div class="columns" style="margin-left: 1%; margin-top:1%;">
  <div class="column is-3">
    <app-side-logo></app-side-logo>
    <div class="column">
      <p class=" has-text-centered title-box-text">
        TRACTION
      </p>
    </div>
  </div>

  <div class="column is-7 top-content" @inEffect>
    <p>Froot is working through multiple channels to ensure that we solve real problems and that our partners and
      customers find value in our work. Froot is fast gaining momentum and customer feedbacks guide us at each step
      towards success.</p>
  </div>

</div>

<div class="main-content" @inEffect>
  <div class="press columns">
    <div class="column is-3 ">
      <p class="title ">"Your algorithm is good"</p>
      <div class="divider"></div>
      <p class="heading">-President, Legal services company</p>
    </div>
    <div class="column is-3">
      <p class="title  ">"This is very interesting and very helpful"</p>
      <div class="divider"></div>
      <p class="heading"> -Sr. Director, Security & Digital Media
        Monetization solution Provider</p>
    </div>

    <div class="column is-3">
      <p class="title ">
        "These are great results"</p>
      <div class="divider"></div>
      <p class="heading"> - Managing Member, Consulting firm</p>
    </div>
  </div>
</div>


<app-navbar-light></app-navbar-light>
