
<div class="columns">
  <div class="column is-3" >
    <div class="rotate is-hidden-mobile ">
      <p class=" rt-text">FROOT RESEARCH</p>
      <p class="is-size-4 rt-text">
        Daring Intelligence
      </p>
    </div>
    <div class="is-12 is-hidden-mobile" style="padding-top: 50%;padding-left: 50%;">
      <p class="bt-text"> Art</p>
      <p class="bt-text">Science</p>
      <p class="bt-text">Creativity</p>
    </div>
  </div>

  <div class="column is-6">
    <div class="is-hidden-tablet" style="padding-left: 22%; padding-top: 10%">
      <p class=" rt-text">FROOT RESEARCH</p>
      <p class="is-size-6 rt-text">
        Daring Intelligence
      </p>
    </div>
    <img @inEffect class="center-img" src="../../assets/1stpage logo.png">
  </div>
  <div class="column is-hidden-tablet" style="padding-left:25%;">
    <p class="bt-text"> Art</p>
    <p class="bt-text">Science</p>
    <p class="bt-text">Creativity</p>

    

  </div>
  <div class="column is-6 terminal is-hidden-mobile">
    <p> <span style="color:#c9c7c9">[root]</span>~ Initialization [{{i}}%] </p>
    <app-terminal></app-terminal>
  </div>
</div>


<app-navbar-light></app-navbar-light>

